<header>
    <div class="nav nav-box-shadow">
      <input type="checkbox" id="nav-check">
      <div class="nav-header">
          <div class="nav-title">
              <!--Logo-->
              <img src="/img/app_logo.jpg" class="navbar-brand-img" alt="Logo" />
          </div>
      </div>
      <div class="nav-btn">
          <label for="nav-check">
            <span></span>
            <span></span>  
            <span></span>
          </label>
      </div>
      <div class="nav-items">
          <a href="/index.html" id="homeNav">Home</a>
          <a href="/signup.html" id="signupNav">Sign up</a>
          <a href="/login.html" id="loginNav">Login</a>
          <a href="#" id="logoutNav" style="display: none;">Logout</a>
          <a href="/addbook.html" id="addbookNav">Add Book</a>
      </div>
  </div>
  </header>